html, body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    font-family: 'Rubik', sans-serif;
}
body {
    display: 'flex';
    flex-direction: 'column';
    flex: '1';
}
.container{
    width: 100%;
    padding-right: 28px;
    padding-left: 28px;
    margin-right: auto;
    margin-left: auto;
    max-width: initial;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
}
.col{
    padding-right: 16px;
    padding-left: 16px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
h1{
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    line-height: 125%;
    color: #070C0E;

}
p{
    font-size: '16px';
    font-weight: '400';
    line-height: 125%;
    color: #88989E;
}
button{
    color: #6C63FF;
    display: inline;
    border: 0;
    cursor: pointer;
    padding: 12px 26px;
    font-weight: bold;
    opacity: 1;
    justify-content: flex-end;
}

.menu{
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 18px;
    padding-left: 28px;
    padding-right: 28px;
}

.logo{
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 18px;
    padding: 0;
    margin: 0;
    order: 1;
}
.link{
    padding: 0;
    margin: 0;
    order: 3;
    width: 100%;
    list-style: none;
    display: inline;
    align-items: center;
    justify-content: space-between;
    margin-top: 17px;
    border-top: 1px solid #88989E;
    border-bottom: 1px solid #88989E;
    padding: 12px;
}

footer{
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px; 
    padding-right: 28px;
    padding-left: 28px;
}

img{    
    width: 619px;
    align-items: flex-end;
    
}
